/* Base */ /* Resets */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bgFb {
  background-color: #3b5998 !important;
}

.bgFb {
  background-color: #3b5998 !important;
}

.bgIg {
  background: radial-gradient(circle at 0% 107%, #fdf497 0%, #fdf497 10%, #fd5949 40%, #d6249f 50%, #285AEB 90%) !important;
}

.bgWpp {
  background-color: #25D366 !important;
}

/* Import fonts */
h1 {
  text-align: center;
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 40px;
  color: rgb(50, 50, 50);
  padding: 20px 0;
}

h2 {
  text-align: center;
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 18px;
  color: rgb(50, 50, 50);
}

h3 {
  text-align: center;
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

p {
  text-align: center;
  font-family: "Poppins", "Arial";
  font-weight: 400;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

/* Layout */
/* Side Bar */
header {
  z-index: 1;
}
header #sidebar {
  width: 250px;
  min-height: 100vh;
  height: 100%;
  max-width: 25vh;
  background: linear-gradient(90deg, #c3bf98 0%, rgb(193, 193, 161) 100%);
  box-shadow: 0px 0px 20px 0px rgb(140, 140, 140);
}
header #sidebar #logo {
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Oleo Script", "Arial";
  color: white;
}
header #sidebar hr {
  color: white;
  opacity: 1;
}
header #sidebar ul li .active {
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
  color: white;
  --bs-nav-pills-link-active-bg: rgba(0, 0, 0, 0.129);
}
header #sidebar ul li .nav-link {
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
  color: white;
  --bs-nav-link-hover-color: lightgrey;
}
header #sidebar ul li .socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #sidebar ul li .bgIg {
  margin: 10px 0 10px 0;
}

/* Nav Bar Mobile */
#navBarMobile {
  background: linear-gradient(90deg, #c3bf98 0%, rgb(193, 193, 161) 100%);
  padding-bottom: 10px;
}
#navBarMobile #logoMobile {
  font-size: 40px;
  font-family: "Oleo Script", "Arial";
  color: white;
}
#navBarMobile ul li .active {
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
  color: white;
  --bs-nav-pills-link-active-bg: rgba(0, 0, 0, 0.129);
}
#navBarMobile ul li .nav-link {
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
  color: white;
  --bs-nav-link-hover-color: lightgrey;
}

/* Social Media for Mobile */
#mediaMobile {
  z-index: 1;
  height: 180px;
  position: fixed;
  top: 65vh;
  display: flex;
}
#mediaMobile ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 1rem;
}
#mediaMobile ul li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mediaMobile ul li a svg {
  width: 30px;
}

/* Footer */
footer {
  z-index: 1;
  display: block;
  justify-content: flex-end !important;
  height: 50px;
  padding: 10px !important;
  background: linear-gradient(-90deg, rgb(195, 191, 152) 0%, rgb(193, 193, 161) 100%);
}
footer .textPie {
  font-family: "Poppins", "Arial";
  font-weight: 400;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

/* Main*/
main {
  min-height: 100vh;
  height: 100%;
}
main .text {
  padding: 20px 50px;
}
main .row {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
main section {
  text-align: center;
}
main section article .card {
  box-shadow: 0px 4px 10px 0px rgb(185, 185, 185);
  border-radius: 5%;
  overflow: hidden;
  border: none;
  align-items: center;
}
main section .ubi {
  margin: 10px 10px;
}
main form {
  margin: 50px 0;
  font-family: "Poppins", "Arial";
  font-weight: 700;
  font-size: 16px;
}
main form div {
  width: 100%;
  max-width: 800px;
}
main form .botonForm {
  color: white;
  background-color: rgb(193, 193, 161);
}
main form .botonForm:hover {
  background-color: hwb(60 51% 39%);
  color: white;
}
main form .botonForm:active {
  border: none;
  background-color: hwb(60 51% 39%);
  color: white;
}
main form .botonForm:link {
  background-color: hwb(60 51% 39%);
}

/* Hover 
.cards:hover {
    width: 25%;
    height: 350px;
}*/
/* Ocultamos elementos para resoluciones menores a 1024px */
@media only screen and (max-width: 1024px) {
  #sidebar {
    display: none !important;
  }
  /* Ocultamos texto de los iconos para resoluciones menores a 767px */
}
@media only screen and (max-width: 1024px) and (max-width: 700px) {
  #navBarMobile span {
    display: none !important;
  }
}
/* Ocultamos elementos para resoluciones mayores a 1025px */
@media only screen and (min-width: 1025px) {
  #navBarMobile {
    display: none !important;
  }
  #mediaMobile {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
