/* Base */
@import "./base/_reset.scss";
@import "./base/_font.scss";

/* Layout */
@import "./layout/_sidebar.scss";
@import "./layout/_navbarmobile.scss";
@import "./layout/_footer.scss";
@import "./layout/_main-content.scss";


/* Hover 
.cards:hover {
    width: 25%;
    height: 350px;
}*/

/* Ocultamos elementos para resoluciones menores a 1024px */
@media only screen and (max-width: 1024px) {
    #sidebar {
        display: none !important;
    }
    /* Ocultamos texto de los iconos para resoluciones menores a 767px */
    @media only screen and (max-width: 700px) {
        #navBarMobile {
            span {
                display: none !important;
            }
        }
    }
}
/* Ocultamos elementos para resoluciones mayores a 1025px */
@media only screen and (min-width: 1025px) {
    #navBarMobile {
        display: none !important;
    }

    #mediaMobile {
        display: none !important;
    }
}