/* Base */
@import "./base/_reset.scss";
@import "./base/_font.scss";

/* Layout */
@import "./layout/_sidebar.scss";
@import "./layout/_navbarmobile.scss";
@import "./layout/_footer.scss";
@import "./layout/_main-content.scss";




/* Hover 
.cards:hover {
    width: 25%;
    height: 350px;
}*/
@media only screen and (max-width: 1023px) {
    #sidebar {
        display: none !important;
    }

    #navBarMobile {
        display: flex !important;
    }

    @media only screen and (max-width: 767px) {
        #navBarMobile {
            span {
                display: none !important;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #navBarMobile {
        display: none !important;
    }

    #mediaMobile {
        display: none !important;
    }
}