/* Footer */

footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-right: 50px;
    text-align: right;
    background: linear-gradient(-90deg, rgb(195, 191, 152) 0%, rgb(193, 193, 161) 100%);
    .textPie {
        font-family: 'Poppins', 'Arial';
        font-weight: 400;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
}