/* Main*/
main {
    min-height: 100vh;
    height: 100%;

    .text {
        padding: 20px 50px;
    }

    // Cards
    .row {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    section {
        text-align: center;

        article {
            .card {
                box-shadow: 0px 4px 10px 0px rgb(185, 185, 185);
                border-radius: 5%;
                overflow: hidden;
                border: none;
                align-items: center;
            }
        }
        .ubi{
            margin: 10px 10px;
        }
    }

    // Formulario pagina ayuda
    form {
        margin: 50px 0;
        font-family: 'Poppins', 'Arial';
        font-weight: 700;
        font-size: 16px;

        div{
            width: 100%;
            max-width: 800px;
        }
        .botonForm{
            color: white;
            background-color: rgb(193, 193, 161) ;

            &:hover{
                background-color: hwb(60 51% 39%) ;
                color: white;
            }

            &:active{
                border: none;
                background-color: hwb(60 51% 39%) ;
                color: white;
            }
            &:link{
                background-color: hwb(60 51% 39%) ;
            }
        }

    }
}