/* Nav Bar Mobile */
#navBarMobile {
    background: linear-gradient(90deg, #c3bf98 0%, rgb(193, 193, 161) 100%) !important;

    #logoMobile{
        font-size: 40px;
        font-family: 'Oleo Script', 'Arial';
        color: white;
    }
}