/* Resets */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


// Colores de redes sociales 
.bgFb {
    background-color: #3b5998 !important;
}

.bgFb {
    background-color: #3b5998 !important;
}

.bgIg {
    background: radial-gradient(circle at 0% 107%, #fdf497 0%, #fdf497 10%, #fd5949 40%, #d6249f 50%, #285AEB 90%) !important;
}

.bgWpp {
    background-color: #25D366 !important;
}